<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Angular Sort and Filter</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="style.css" charset="utf-8">

  </head>
  <body ng-app="tableApp" ng-controller="TableController">
    <div class="container">

      <div class="alert alert-info">
        <p>Sort Type: {{ sortType }}</p>
        <p>Sort Reverse: {{ sortReverse }}</p>
        <p>Search Query: {{ searchTitle }}</p>
      </div>

      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input ng-model="searchTitle" type="text" class="form-control" placeholder="Search Title">
          </div>
        </div>
      </form>

      <table class="table table-bordered table-striped">
        <!-- Table head -->
        <thead>
          <tr>
            <td><a href="#" ng-click=" sortType = 'title'; sortReverse = !sortReverse ">
              Title
              <span ng-show=" sortType == 'title' && !sortReverse " class="fa fa-caret-down"></span>
              <span ng-show=" sortType == 'title' && sortReverse " class="fa fa-caret-up"></span>
            </a></td>
            <td><a href="#" ng-click=" sortType = 'length'; sortReverse = !sortReverse ">
              Length
              <span ng-show=" sortType == 'length' && !sortReverse " class="fa fa-caret-down"></span>
              <span ng-show=" sortType == 'length' && sortReverse " class="fa fa-caret-up"></span>
            </a></td>
            <td><a href="#" ng-click=" sortType = 'month'; sortReverse = !sortReverse ">
              Month
              <span ng-show=" sortType == 'month' && !sortReverse " class="fa fa-caret-down"></span>
              <span ng-show=" sortType == 'month' && sortReverse " class="fa fa-caret-up"></span>
            </a></td>
          </tr>
        </thead>
        <!-- Table body -->
        <tbody>
          <tr ng-repeat="title in titles | orderBy:sortType:sortReverse | filter:searchTitle ">
            <td>{{ title.title }}</td>
            <td>{{ title.length }}</td>
            <td>{{ title.month }}</td>
          </tr>
        </tbody>
      </table>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app.js"></script>

  </body>
</html>
